@model IEnumerable<EmployeeVM>
@{
    ViewData["Title"] = "DeletedEmployee";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

@section DataTableStyle {
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />
}

<style>
    tbody, thead, tr, th, td {
        text-align: center !important;
    }
</style>
<div>
    <form asp-controller="Employee" asp-action="EmployeeServices" class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <input type="text" class="form-control" name="searchvalue" />
            </div>
            <div class="col-lg-2">
                <input type="submit" value=@Localizer["Search"] class="btn btn-success" />
            </div>
        </div>

    </form>
    <br />
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>@Localizer["EmployeesData"]</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>@Localizer["Image"]</th>
                                    <th>@Localizer["Name"]</th>
                                    <th>@Localizer["Salary"]</th>
                                    <th>@Localizer["HireDate"]</th>
                                    <th>@Localizer["CV"]</th>
                                    <th>@Localizer["Department"]</th>
                                    <th>@Localizer["District"]</th>
                                    <th>@Localizer["Return"]</th>
                                    <th>@Localizer["Details"]</th>
                                    <th>@Localizer["Update"]</th>
                                    <th>@Localizer["Delete"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><img src="~/Files/Imgs/@item.ImageName" height="50" width="50" /></td>
                                        <td>@item.Employee_Fname @item.Employee_Lname</td>
                                        <td>@item.Employee_Salary</td>
                                        <td>@item.HireDate.ToShortDateString()</td>
                                        <td><a href="~/Files/Docs/@item.CVName" download="Download">@Localizer["DownloadCV"]</a></td>
                                        <td>@item.Department?.Department_Name</td>
                                        <td>@item.District?.District_Name</td>
                                        <td><a asp-action="ReturnEmployee" asp-controller="Employee" asp-route-id="@item.Employee_Id" class="btn btn-primary">@Localizer["Return"]</a></td>
                                        <td><a asp-action="Details" asp-controller="Employee" asp-route-id="@item.Employee_Id" class="btn btn-success">@Localizer["Details"]</a></td>
                                        <td><a asp-action="Update" asp-controller="Employee" asp-route-id="@item.Employee_Id" class="btn btn-warning">@Localizer["Update"]</a></td>
                                        <td><a asp-action="Delete" asp-controller="Employee" asp-route-id="@item.Employee_Id" class="btn btn-danger">@Localizer["Delete"]</a></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section DataTableJS {
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/plugins/jquery-datatable/jquery.datatables.js"></script>
    <script src="~/plugins/jquery-datatable/skin/bootstrap/js/datatables.bootstrap.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <script>
        $(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 5,
                bSort: true,
                bFilter: true,
                bLengthChange: true,
                bInfo: true,
                // lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                lengthMenu: [[2,5, 10, 25, 50], [2,5, 10, 25, 50]],
            });
            var table = $('.js-basic-example').DataTable();

            new $.fn.dataTable.Buttons(table, {
                buttons: [
                    'copy', 'excel', 'pdf', 'csv', 'print'
                ]
            });

            table.buttons().container()
                .appendTo($('.col-sm-6:eq(0)', table.table().container()));

        });
    </script>
}
